apiVersion: v1
kind: Service
metadata:
  name: todo-app-service
  namespace: <NAMESPACE>
spec:
  type: NodePort
  selector:
    app: todo-app
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30080
