apiVersion: v1
kind: Service
metadata:
  name: todo-app-service
  namespace: etudiant06-ns
spec:
  type: NodePort
  selector:
    app: todo-app
  ports:
    - port: 8080
      targetPort: 8080
      
